<div class="menu container">
  <ul class="menu__list">
    {% for item in menu %}
    <li class="menu__item" for="{{item.id}}"><button type="button" class="menu__link">{{item.name}}<div class="block">
        </div></button>
      <div class="menu__wrapper" {{row.class}} for="0010">
        <div class="menu__listing2">
          <ul class="menu__listing2--list">
            {% for item in menulisting2 %}
            <li class="menu__listing2--item"><a href="/{{item.url}}" class="menu__listing2--link">{{item.name}}</a>
              <ul class="menu__listing3--list">
                {% for row in item.menulisting3 %}
                <li class="menu__listing3--item"><a href="/{{row.url}}" class="menu__listing3--link">{{row.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>